body {
     background-image: radial-gradient(circle at 87.5% 12.5%, #ff84ed 0, #e66fe5 25%, #be55d8 50%, #923dcb 75%, #6631c4 100%);
}
#img-logo {
    top: 20px;
}
.ver {
                float: left;
                color: red;
                border: 10px;
                font: sans-serif;
                font-size: 20px;
                border-color: black;
            }
